
/* General styles */

body, html {
    height: 100%;
}

.red-text {
    color: #d3232a;
}

.blue-text {
    color: #25408f;
}

.no-decoration {
    text-decoration: none !important;
}

.carousel-pic-div {
    width: 275px;
    overflow: hidden;
    margin: 0;
}

.carousel-pic {
    display: block;
    width: 100%;
    margin -20%;
}

.capitalize {
    text-transform: capitalize;
}

.lower-case {
    text-transform: none;
}



/* Navbar Scaling */
/* TODO: Move existing styling to here from main.css */
@media (max-width: 1350px) {
    .navbar-custom {
        font-size: 1.4em;
    }

    #nav-logo {
        height: auto;
        width: 350px;
    }

    .banner-home {
        margin-top: 70px;
    }
}

@media (max-width: 1090px) {
    .navbar-custom {
        font-size: 1.2em;
    }

    #nav-logo {
        height: auto;
        width: 300px;
    }
}

@media (max-width: 991px) {
    .navbar-custom {
        font-size: 1.4em;
    }

    .nav-link {
        margin: 0px !important;
        padding: 0px 20px !important;
    }

    .dropdown-content {
        position: relative;
        margin: -45px 0px 0px 130px;
    }

    #nav-logo {
        height: auto;
        width: 250px;
    }
}


/* Home Page */



.card-home{
    padding:20px 10px;
    margin:30px 0px;
    background-color: #f9f9ff;
    border-radius: 10px;
    border: 1px solid #eee;
}

@media (min-width: 1200px) {
    .card-home {
        height: 330px;
    }
}

.card-home:hover {
  cursor: pointer;
  background-color: #fff;
}

/* About Page */
.about-text {
    font-size: 1.5em;
    padding: 50px 0px;
    text-decoration: none;
}

.about-text a:hover {
    color: #d3232a;
}

.about-text-inner {
    margin: 10px 0px;
}

.about-logo {
    height: 250px;
    width: auto;
}

.about-pic-1 {
    height: 400px;
    width: auto;
}

@media (max-width: 991px) {
    .about-text {
        padding: 0px 50px !important;
    }
}


/* Surrender Page*/

.surrender-content {
    font-size: 1.4em;
    padding: 50px 0px;
    text-decoration: none;
}


/* Volunteer Page */

.volunteer-content {
    font-size: 1.4em;
    padding: 50px 0px;
    text-decoration: none;
}


/* Forms */

.custom-submit-btn {
    color: #25408f !important;
    background-color: transparent;
    background-image: none;
    border-color: #25408f !important;
}

.custom-submit-btn:hover {
    color: #ffffff !important;
    background-color: #25408f !important;
    background-image: none;
    border-color: #25408f !important;
}


/* Dashboards */

.dashboard-a{
  text-decoration: none;
  color: #0062cc;
  /*border-bottom: 2px solid #0062cc;*/
}
.card-container-admin{
    height: 100%;
    padding: 60px 0px;
}

.card-container-webmaster{
    height: 100%;
}

.card-dashboard{
    padding:20px 10px;
    margin:30px 0px;
    background-color: #f9f9ff;
    border-radius: 10px;
    border: 1px solid #eee;
}

@media (min-width: 1200px) {
    .card-dashboard {
        height: 283px;
    }
}

.card-dashboard:hover {
  cursor: pointer;
  background-color: #fff;
}

.dashboard-text{
    margin:20px 0px;
    font-size: 1.2em;
}

.dashboard-icon{
     color: #d2232a;
}

.dashboard-link {
    text-decoration: none !important;
    color: #25408f;

}



