{% extends "layout.html" %}
{% set current_page = "about" %}
{% block title %}Index{% endblock %}
{% block head %}
  <!--{{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>-->
{% endblock %}

{% block content %}

    <section class="banner-area relative banner-general banner-about" id="home">
        <div class="container">
            <div class="overlay overlay-bg"></div>
            <div class="row d-flex justify-content-start">
                <div class="banner-content col-lg-8 col-md-12">
                     <!--<a><img class="banner-logo" src="../static/img/LOGO2.png" alt="" title="" /></a>-->
                    <p class="text-white sub-head banner-lg-font">
                        About Us
                    </p>
                    <!--<a href="#" class="primary-btn header-btn text-uppercase no-decoration">Find a pet to adopt</a>-->
                </div>
            </div>
        </div>
    </section>

    <div class="container about-text blue-text">
        <div class="row">
            <div class="col-8 pt-40">
                <p>
                    Texas Russell Rescue is the Texas group of
                    <a class="no-decoration" href="http://www.russellrescue.com/" target="_blank">Russell Rescue, Inc.</a>,
                    a national network of volunteers dedicated to placing unwanted, displaced or abandoned
                    Jack Russell Terriers into permanent homes.  We foster these Jack Russells in our homes
                    until we are able to find them their perfect forever home.
                </p>
            </div>
            <div class="col">
                <img class="about-logo" src="../static/img/LOGO2.png" alt="Texas Russell Rescue Logo" title="Texas Russell Rescue Logo"/>
            </div>
        </div>

        <p class="">
            Texas Russell Rescue is the Texas group of <a class="no-decoration" href="http://www.russellrescue.com/" target="_blank">Russell Rescue, Inc.</a>,
            a national network of volunteers dedicated to placing unwanted, displaced or abandoned
            Jack Russell Terriers into permanent homes.  We foster these Jack Russells in our homes
            until we are able to find them their perfect forever home. <br><br>

            All dogs entering rescue are either temporarily placed in a foster home or must remain
            with their owners until a suitable home can be found.  Foster space is limited, so foster
            homes are generally reserved for dogs that are in danger of euthanasia at local shelters
            or are in an emergency situation.  Sometimes, circumstances are such that seeking a new
            home for your Jack Russell is necessary. If you would like to contact us about surrendering
            your terrier into our rescue program, please fill out our
            <a class="no-decoration" href="{{ url_for( 'owner_listing_application' ) }}" target="_blank">Owner Surrender Form</a>. <br><br>

            Russell Rescue, Inc. has been approved as a non-profit 501(c)(3) corporation and is funded
            entirely through <a class="no-decoration" href="http://www.russellrescue.com/donations/" target="_blank">donations</a>.
        </p>
    </div>

{% endblock %}
