{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}

<section class="banner-area relative banner-general banner-about" id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                 <!--<a><img class="banner-logo" src="../static/img/LOGO2.png" alt="" title="" /></a>-->
                <p class="text-white sub-head banner-lg-font">
                    About Us
                </p>
                <!--<a href="#" class="primary-btn header-btn text-uppercase no-decoration">Find a pet to adopt</a>-->
            </div>
        </div>
    </div>
</section>

  <h1 style="margin-top: 100px">About Page</h1>
  <p>About Us page content will go here.</p>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>Flask Blog - {{ title }}</title>
	{% else %}
	<title>Flask Blog</title>
	{% endif %}
</head>
<body>
	<h1>About Page</h1>
</body>
</html> -->