{% extends "layout.html" %}
{% set current_page = "admin" %}
{% block title %}Donate{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <div class="box mt-120 mb-60">
        <div class="container">
            <div class="row">
                <a href="#" class="dashboard-link">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                        <div class="box-part text-center">

                            <i class="fas fa-paw fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Adoption Applications</h4>
                            </div>

                            <div class="dashboard-text">
                                <span>View applications from potential Jack Russell adopters.</span>
                            </div>

                            <a href="#" class="dashboard-a"></a>

                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                        <div class="box-part text-center">
                            <i class="fas fa-hands-helping fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Volunteer Applications</h4>
                            </div>

                            <div class="dashboard-text">
                                <span>View applications from potential fosters and volunteers.</span>
                            </div>

                            <a href="#" class="dashboard-a"></a>

                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                        <div class="box-part text-center">

                            <i class="fas fa-clipboard-list fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Surrender Applications</h4>
                            </div>

                            <div class="dashboard-text">
                                <span>View applications from owners, shelters, or rescues surrendering Jack Russells.</span>
                            </div>

                            <a href="#" class="dashboard-a"></a>

                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                        <div class="box-part text-center">

                            <i class="fas fa-envelope-open-text fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Contact<br>Submissions</h4>
                            </div>

                            <div class="dashboard-text">
                                <span>View messages from people with questions, comments, or concerns.</span>
                            </div>

                            <a href="#" class="dashboard-a"></a>

                         </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}