{% extends "layout.html" %}
{% set current_page = "adoption_application" %}
{% block title %}Adoption Application{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<section class="banner-area relative banner-general banner-adoption-app" id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                 <!--<a><img class="banner-logo" src="../static/img/LOGO2.png" alt="" title="" /></a>-->
                <p class="text-white sub-head banner-lg-font">
                    Apply to Adopt
                </p>
                <!--<a href="#" class="primary-btn header-btn text-uppercase no-decoration">Find a pet to adopt</a>-->
            </div>
        </div>
    </div>
</section>

  <h1>Adoption Application</h1>
  <p>Adoption Application form will go here via WTForms.</p>
  <p>
      By submitting this application, you are making a FORMAL request to adopt a dog from Russell Rescue, Inc., 
      an all-volunteer, donation-supported organization. Please do not fill out this application if you are not 
      serious about working with Russell Rescue, Inc. You will be contacted if a suitable terrier is matched to 
      your application. Filling out an application does not guarantee a terrier. Not all homes are suitable for 
      placement. Russell Rescue, Inc. has the right to refuse any application.
  </p>
  <p>
      If you do not receive a notice that tells you the application was submitted,
      please <a href="{{ url_for('contact') }}">Contact Us.</a>
  </p>
{% endblock %}