<!-- TODO - right now this is just a copy/paste of surrender_inbox.html. 
    Needs to be modified to fit the adoption application form -->

{% extends "layout.html" %}
{% block title %}Owner Surrender Applications{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %} 
  <div class="col-md-8 mt-120">
    <p><h3>Terrier Adoption Applications</h3></p>
    <hr>
    {% for application in applications %}
        <hr>
        <p>
            <h5>Application Received: {{ application.date_sent }}</h5>
            <strong>From:</strong> {{ application.first_name }} {{ application.last_name }} &emsp;
        </p>
        <p>
            <hr>
        </p>
        <P>
            {% if application.home_phone %}
                <strong>Home Phone:</strong> {{ application.home_phone }} &emsp;
            {% endif %}
            {% if application.cell_phone %}
                <strong>Cell Phone:</strong> {{ application.cell_phone }} &emsp;
            {% endif %}
            {% if application.work_phone %}
                <strong>Work Phone:</strong> {{ application.work_phone }} &emsp;
            {% endif %} 
        </P>
        <p>
            <strong>Best time to call:</strong> {{ application.best_time_to_call }}
        </p>
        <p>
            <strong>Email:</strong> <a href="mailto:{{ application.email }}">{{ application.email }}</a> &emsp;
        </p>
        <p>
            <strong>Address:</strong> 
            {{ application.street_address }}, {{ application.city }}, {{ application.state }}, {{ application.zip_code }}
        </p>
        <p>
            <strong>Occupation:</strong> {{ application.occupation }}
        </p>
        when_able_to_take_posession
        <p>
            <strong></strong>
        </p>
        how_far_willing_to_travel
        <p>
            <strong></strong>
        </p>
        housing_type
        <p>
            <strong></strong>
        </p>
        housing_type_if_other
        <p>
            <strong></strong>
        </p>
        rent_or_own
        <p>
            <strong></strong>
        </p>
        landlord_permission
        <p>
            <strong></strong>
        </p>
        landlord_name
        <p>
            <strong></strong>
        </p>
        landlord_phone
        <p>
            <strong></strong>
        </p>
        how_long_at_address
        <p>
            <strong></strong>
        </p>
        has_fenced_yard
        <p>
            <strong></strong>
        </p>
        has_kennel_run
        <p>
            <strong></strong>
        </p>
        fence_kennel_description
        <p>
            <strong></strong>
        </p>
        if_none_how_handle_dog_needs
        <p>
                <strong></strong>
        </p>
        has_dog_crate
        <p>
            <strong></strong>
        </p>

        <p>
            <h4>Housing/Landlord Information</h4>
            <hr>
        </p>
        num_adults_in_household
        adults_age
        num_children_in_household
        children_age
        planning_to_have_children
        animal_allergies
        hours_terrier_must_be_alone
        household_visitors
        lifestyle

        own_other_dogs
        other_dogs_spayed_neutered
        breed_size_gender_of_other_dogs
        own_cats
        how_many_cats
        own_other_animals
        other_animals_description
        num_dogs_owned_past_five_years
        status_of_other_dogs_owned

        previously_owned_jrt
        why_choose_jrt
        jrt_breed_purpose
        planned_activities_with_jrt
        indoors_or_outdoors
        where_will_sleep

        has_regular_vet
        vet_clinic_name
        doctor_name
        vet_street_address
        vet_city
        vet_state
        vet_zip
        vet_phone
        last_vet_visit_date

        how_learned_about_us
        if_other
        reference_name
        reference_relationship
        reference_phone
        additional_comments
        <p></p>
        <br>
        <hr>
    {% endfor %}
</div>
{% endblock %}
