{% extends "layout.html" %}
{% set current_page = "before_you_adopt" %}
{% block title %}Before You Adopt{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<section class="banner-area relative banner-general banner-before-you-adopt" id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex justify-content-start" style="0px">
            <div class="banner-content col-lg-8 col-md-12">
                 <!--<a><img class="banner-logo" src="../static/img/LOGO2.png" alt="" title="" /></a>-->
                <p class="text-white sub-head banner-lg-font">
                    Before You Adopt
                </p>
                <!--<a href="#" class="primary-btn header-btn text-uppercase no-decoration">Find a pet to adopt</a>-->
            </div>
        </div>
    </div>
</section>
  <div class="container content-section">
    <h1>Before You Adopt</h1>
    <p>
      <a href="https://www.therealjackrussell.com/breed/jrprofiler.php?fbclid=IwAR0gQNwzhWMxMgMfCpGGXIw5XsA5E9K6Nwel8lYklsSOBlC0hevGgvc2dUQ">
        Is a Jack Russell Terrier the Right Dog for You?
      </a>
      <br>
      1. Rescue dogs must have containment (fence, kennel); JRTs are rarely suitable for city living. 
      <br>
      2. We do not place terriers in homes where it must remain alone for extended periods of time.
      <br> 
      3. We do not place dogs in homes where there are children under six years of age.
      <br>
      4. Few rescue dogs are good with cats.
      <br>
      5. Most terriers in Rescue are young adults; puppies are rarely, if ever, available.
      <br>
      6. Filling out an application does not guarantee adoption. Jack Russell Terriers have special needs. Not all homes are suitable for placement.
      <br>
      7. All applicants are thoroughly screened and must meet certain qualifications before being referred for a terrier.
      <br>
      8. Compatible terriers may not be immediately available; your patience is appreciated.
      <br>
      9. A donation to Russell Rescue, Inc. is required to adopt a terrier.
      <br>
      10. Remember, the more conditions you make (i.e., color, coat type, age, sex and body type), the longer it will take to find a suitable terrier to match your environment.  Please be open-minded to the different qualities that each terrier has to offer.
      <br>
      11. By submitting this application, you are making a formal request to adopt a dog from Russell Rescue, Inc. Please do not fill out this application if you are not serious about working with Russell Rescue, Inc.
      <br>
      12. If a terrier is matched to your application and placed in your home, you must agree to keep the terrier for at least 3 weeks (to allow time for the terrier and you to acclimate with each other).
      <br>
      13. We can only place terriers in homes located in the United States.
    </p>
  </div>
{% endblock %}
