{% extends "layout.html" %}
{% block title %}Contact Us Emails{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %} 
  <div class="col-md-8">
    {% for message in messages %}
        <p></p>
        <h4>{{ message.subject }}</h4>
        <p>From {{ message.name }} on {{ message.date_sent }}</p>
        <p><strong>Message: </strong>{{ message.content }}</p>
        <P>
            <strong>Phone:</strong> {{ message.phone }} &emsp; 
            <strong>Email:</strong> {{ message.email }} &emsp;
            <strong>Location:</strong> {{ message.city }}, {{ message.state }}
        </P>
        <br>
    {% endfor %}
</div>
{% endblock %}
