{% extends "layout.html" %}
{% set current_page = "donate" %}
{% block title %}Donate{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <!-- Banner area -->
    <section class="banner-area relative banner-donate banner-donate-sm-pic">
        <div class="overlay overlay-bg"></div>
        <div class="row" style="margin-left: 0px; margin-right: 0px">
            <div class="banner-content banner-content-margins col-lg-8 col-sm-12 justify-content-center">
                <p class="text-white banner-lg-font">Every Bit Helps...</p>
            </div>
        </div>
    </section>


    <div class="container about-text blue-text">
        <div class="row">
            <div class="col-sm-12 col-lg-pull-3 d-lg-none mt-30">
                <img class="about-logo" src="../static/img/jr21.jpg" alt="Texas Russell Rescue Logo" title="Texas Russell Rescue Logo"/>
            </div>
            <div class="col-lg-9 col-sm-12 col-lg-push-9 pt-40">
                <p class="about-text-inner">
                    Russell Rescue, Inc. is funded entirely through donations.  We are supported by Jack Russell lovers and
                    volunteers throughout the world.  Russell Rescue, Inc. has been approved as a non-profit 501(c)(3) corporation.
                    All donations made to Russell Rescue are tax-deductible to the contributor.
                </p>
            </div>
            <div class="col-lg-3 col-sm-12 col-lg-pull-3 d-md-none d-none d-lg-inline">
                <img class="about-logo" src="../static/img/jr21.jpg" alt="Texas Russell Rescue Logo" title="Texas Russell Rescue Logo"/>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-lg-4 col-sm-12">
                <img class="mt-40" src="../static/img/jr9.jpg" style="width: 350px; height: auto" alt="Muddy Pups" title="Muddy Pups"/>
            </div>
            <div class="col-lg-8 col-sm-12 pt-40">
                <p class="mt-10 ml-30">
                    Jack Russells entering our rescue program often require medical care.  Donations are used to provide
                    veterinary care including spaying/neutering, vaccinations, surgeries, medications, heartworm testing and
                    treatment, etc.  We provide the care necessary for our Jack Russell’s to be healthy and ready to be
                    adopted.
                </p>
            </div>

        </div>
        <p class="mt-50 text-center about-text-bottom">
            We try and make it easy for you to support us.  Donations can be made with PayPal, all major credit cards,
            money orders or cashiers checks and personal checks.  When donating, please include your mailing address so
            we can send you a tax deduction letter.
        </p>
    </div>

    <!-- Donation Methods area -->
    <div class="card-container-webmaster mt-20 mb-60">
        <div class="container">
            <div class="row d-flex justify-content-center">
				<div class="menu-content pb-20 col-lg-8">
					<div class="title text-center">
						<h1 class="blue-text">Ways You Can Help</h1>
					</div>
				</div>
			</div>
            <div class="row">
                <a href="http://www.russellrescue.com/donations/" class="dashboard-link" target="_blank">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="330px">
                        <div class="card-home text-center">
                            <img class="mb-20" src="../static/img/national_logo.png" alt="National Logo" style="width: 120px">
                            <div class="title">
                                <h4>Donate at our<br>National Page</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>Visit our national page to make a direct donation to the rescue.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
                <a href="https://smile.amazon.com/ref=smi_ext_ch_83?_encoding=UTF8&ein=83-0409996&ref_=smi_chpf_redirect&ref_=smi_ext_ch_83-0409996_cl" class="dashboard-link" target="_blank">
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="330px">
                        <div class="card-home text-center">
                            <img class="" src="../static/img/amazon_smile.png" alt="Amazon Smile" style="width: 150px">
                            <div class="title">
                                <h4>Contribute via the Amazon Smile Program</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>Shop via this link, and Amazon will donate a portion of the purchase price to Russell Rescue.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
                <a href="http://www.barkbox.com/russellrescue" class="dashboard-link" target="_blank">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="330px">
                        <div class="card-home text-center">
                            <img class="mt-20 mb-30" src="../static/img/BarkBox_logo_distressed.png" alt="Amazon Smile" style="width: 150px">
                            <div class="title">
                                <h4>Contribute when you order your next BarkBox.</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>Follow this link or use code RUSSELLRESCUE at checkout to donate $25.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}