{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <section class="banner-area relative banner-general banner-events">
        <div class="container">
            <div class="overlay overlay-bg"></div>
            <div class="row fullscreen d-flex justify-content-start" style="0px">
                <div class="banner-content col-lg-8 col-md-12">
                     <!--<a><img class="banner-logo" src="../static/img/LOGO2.png" alt="" title="" /></a>-->
                    <p class="text-white sub-head banner-lg-font">
                        Events
                    </p>
                    <!--<a href="#" class="primary-btn header-btn text-uppercase no-decoration">Find a pet to adopt</a>-->
                </div>
            </div>
        </div>
    </section>

<h1>Events</h1>
<p>Events page content will go here.</p>

{% endblock content %}