{% extends "layout.html" %}
{% block title %}Happy Tails{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Happy Tails</h1>
  <p>Happy Tails page content will go here.</p>

  <!-- Load in list of post objects passed by @app.route("/happy_tails") and display -->
  {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>By {{ post.author }}</p>
    <p>{{ post.content }}</p>
    <br>
  {% endfor %}
{% endblock %}