{% extends "layout.html" %}
{% set current_page = "happy_tails" %}
{% block title %}Happy Tails{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <!-- Banner area -->
    <section class="banner-area relative banner-surrender">
        <div class="overlay overlay-bg"></div>
        <div class="row" style="margin-left: 0px; margin-right: 0px">
            <div class="banner-content banner-content-margins banner-volunteer-content col-lg-12 col-sm-12 justify-content-center">
                <p class="text-white banner-lg-font">Happy Tails</p>
            </div>
        </div>
    </section>

  <div class="col-md-8 mt-120">
      {% for post in posts %}
            <p></p>
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>
            <br>
            <hr>
      {% endfor %}
  </div>
{% endblock %}