<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/img/fav-paw.ico">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Texas Russell Rescue</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<!--CSS ============================================= -->
	<link rel="stylesheet" href="../static/css/linearicons.css">

	<link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/content.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/magnific-popup.css">
	<link rel="stylesheet" href="../static/css/nice-select.css">
	<link rel="stylesheet" href="../static/css/animate.min.css">
	<link rel="stylesheet" href="../static/css/owl.carousel.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
		<div class="collapse navbar-collapse w-100 order-1 order-lg-0" id="navbarNav">
			<ul class="navbar-nav margin-auto">
				<!--<li class="nav-item zoom add-zoom add-margin-top"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>-->

				<li class="nav-item add-margin-top"><a class="nav-link highlight {{ 'current-page' if current_page == 'about' else '' }}" href="{{ url_for('about') }}">About</a></li>

				<div class="dropdown nav-link add-margin-top">
					<li class="dropbtn highlight {{ 'current-page' if (current_page == 'before_you_adopt' or current_page == 'adoption_application' or current_page == 'available_dogs') else '' }}">Adopt</li>
					<div class="dropdown-content">
						<a class="highlight {{ 'current-page' if current_page == 'before_you_adopt' else '' }}" href="{{ url_for('before_you_adopt') }}">Before You Adopt</a>
						<a class="highlight {{ 'current-page' if current_page == 'adoption_application' else '' }}" href="{{ url_for('adoption_application') }}">Adoption Application</a>
						<a class="highlight {{ 'current-page' if current_page == 'available_dogs' else '' }}" href="{{ url_for('available_dogs') }}">Available Dogs</a>
						<!--<a class="zoom add-zoom" href="{{ url_for('owner_listings') }}">Owner Listings</a>-->
					</div>
				</div>

				<li class="nav-item add-margin-top"><a class="nav-link highlight {{ 'current-page' if current_page == 'donate' else '' }}" href="{{ url_for('donate') }}">Donate</a></li>


				<!--<div class="dropdown nav-link add-margin-top">-->
					<!--<li class="dropbtn zoom add-zoom">View Dogs</li>-->
					<!--<div class="dropdown-content">-->
						<!--<a class="zoom add-zoom" href="{{ url_for('available_dogs') }}">Rescue Dogs</a>-->
						<!--<a class="zoom add-zoom" href="{{ url_for('owner_listings') }}">Owner Listings</a>-->
					<!--</div>-->
				<!--</div>-->

				<li class="nav-logo text-center d-none d-lg-block zoom add-zoom"><a class="nav-link" href="{{ url_for('index') }}"><img id="nav-logo"
							src="../static/img/logo-text.png" alt="" title="" /></a></li>

				<!--<li class="nav-item zoom add-zoom add-margin-top"><a class="nav-link" href="#">Donate</a></li>-->

				<!--<li class="nav-item zoom add-zoom add-margin-top"><a class="nav-link" href="{{ url_for('volunteer') }}">Volunteer</a></li>-->
				<div class="dropdown nav-link add-margin-top">
					<li class="dropbtn highlight {{ 'current-page' if (current_page == 'volunteer_application' or current_page == 'meet_our_volunteers') else '' }}">Volunteer</li>
					<div class="dropdown-content">
						<a class="highlight {{ 'current-page' if current_page == 'volunteer_application' else '' }}" href="{{ url_for('volunteer') }}">Volunteer Application</a>
						<a class="highlight {{ 'current-page' if current_page == 'meet_our_volunteers' else '' }}" href="{{ url_for('meet_our_volunteers') }}">Meet Our Volunteers</a>
					</div>
				</div>

				<div class="dropdown nav-link add-margin-top">
					<li class="dropbtn highlight {{ 'current-page' if (current_page == 'events' or current_page == 'spotlight_terriers' or current_page == 'happy_tails') else '' }}">News</li>
					<div class="dropdown-content">
						<a class="highlight {{ 'current-page' if current_page == 'events' else '' }}" href="{{ url_for('events') }}">Events</a>
						<a class="highlight {{ 'current-page' if current_page == 'spotlight_terriers' else '' }}" href="{{ url_for('spotlight_terriers') }}">Spotlight Terriers</a>
						<a class="highlight {{ 'current-page' if current_page == 'happy_tails' else '' }}" href="{{ url_for('happy_tails') }}">Happy Tails</a>
					</div>
				</div>


				<div class="dropdown nav-link add-margin-top">
					<li class="dropbtn highlight {{ 'current-page' if (current_page == 'owner_listing_application' or current_page == 'contact' or current_page == 'available_dogs') else '' }}">Contact</li>
					<div class="dropdown-content">
						<a class="highlight {{ 'current-page' if current_page == 'owner_listing_application' else '' }}" href="{{ url_for('owner_listing_application') }}">Owner Surrender</a>
						<a class="highlight {{ 'current-page' if current_page == 'contact' else '' }}" href="{{ url_for('contact') }}">Contact Us</a>
					</div>
				</div>


			</ul>
		</div>
		<div class="d-flex w-100 order-0 d-none d-sm-flex d-md-flex d-lg-none">
			<div class="w-100 max-width-toggler">
				<button class="navbar-toggler navbar-toggler-padding" type="button" data-toggle="collapse"
					data-target="#navbarNav">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<a class="navbar-brand text-center w-100 zoom add-zoom" href="{{ url_for('index') }}"><img id="nav-logo-sm-screen"
					src="../static/img/logo-text.png" alt="" title="" /></a>
		
			<span class="w-100"></span>
		</div>
	</nav>
	
	<!-- Content block to be populated by the rendered HTML page -->
	<div id="content">
		<!-- TODO - This displays weirdly with the text outside of the flash color block -->
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}"></div>
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</div>

	<!--&lt;!&ndash; Start image-carusel Area &ndash;&gt;-->
	<!--<section class="image-carusel-area">-->
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="active-image-carusel">-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c1.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c2.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c3.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c4.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c1.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c2.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c3.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c4.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c1.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c2.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c3.jpg" alt="">-->
					<!--</div>-->
					<!--<div class="single-image-carusel">-->
						<!--<img class="img-fluid" src="../static/img/c4.jpg" alt="">-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</section>-->
	<!--&lt;!&ndash; End image-carusel Area &ndash;&gt;-->


	<!-- Start callto-top Area -->
	<!-- <section class="callto-top-area section-gap">
		<div class="container">
			<div class="row justify-content-between callto-top-wrap pt-40 pb-40">
				<div class="col-lg-8 callto-top-left">
					<h1>Please select your favourite pet</h1>
				</div>
				<div class="col-lg-4 callto-top-right">
					<a href="#" class="primary-btn">Fill Adoption Form</a>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End callto-top Area -->


	<!-- Start home-about Area -->
	<!-- <section class="home-about-area">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-lg-6 home-about-left no-padding">
					<img src="../static/img/about-img.jpg" alt="">
				</div>
				<div class="col-lg-6 home-about-right no-padding">
					<h1>
						Globally Connected
						by Large Network
					</h1>
					<h5>We are here to listen from you deliver exellence</h5>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur
						adipisicing elit, sed do eiusmod tempor.
					</p>
					<a href="#" class="primary-btn text-uppercase">get details</a>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End home-about Area -->


	<!-- Start video Area -->
	<!-- <section class="video-area section-gap">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-8">
					<div class="about-video-right justify-content-center align-items-center d-flex relative">
						<div class="overlay overlay-bg"></div>
						<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img
								class="img-fluid mx-auto" src="../static/img/play-btn.png" alt=""></a>
					</div>
					<div class="description">
						<h4>Watch this video how they live here</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua. Ut enim ad minim.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End video Area -->


	<!-- Start process Area -->
	<!-- <section class="process-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Process to adopt a pet</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-process">
						<span class="lnr lnr-thumbs-up"></span>
						<a href="#">
							<h4>
								Pet Selection
							</h4>
						</a>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher
							conduct.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-process">
						<span class="lnr lnr-user"></span>
						<a href="#">
							<h4>
								Meeting Authority
							</h4>
						</a>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher
							conduct.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-process">
						<span class="lnr lnr-license"></span>
						<a href="#">
							<h4>
								Adoption Form Filling
							</h4>
						</a>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher
							conduct.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-process">
						<span class="lnr lnr-magic-wand"></span>
						<a href="#">
							<h4>
								Bring to new family
							</h4>
						</a>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher
							conduct.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End process Area -->


	<!-- Start testomial Area -->
	<!-- <section class="testomial-area section-gap" id="testimonail">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Testimonials from our guardians</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial-carusel">
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t1.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t2.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t3.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t1.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t2.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t3.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t1.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t2.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="../static/img/t3.png" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker, projector, hardware and more. laptop accessory
						</p>
						<h4>Mark Alviro Wiens</h4>
						<p>
							CEO at Google
						</p>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End testomial Area -->

	<!-- Start calltoaction Area -->
	<!-- <section class="calltoaction-area section-gap relative">
		<div class="container">
			<div class="overlay overlay-bg"></div>
			<div class="row align-items-center justify-content-center">
				<h1 class="text-white">Want to help? Become a Volunteer</h1>
				<p class="text-white">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua.
					Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
				</p>
				<div class="buttons d-flex flex-row">
					<a href="#" class="primary-btn text-uppercase">View pdf details</a>
					<a href="#" class="primary-btn text-uppercase">Register now</a>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End calltoaction Area -->

	<!-- start footer Area -->
	<footer class="footer-area">
		<div class="container">
				<div class="row pt-30 pb-10">
					<div class="col-lg-4 col-md-6">
						<div class="single-footer-widget text-white">
							<h5>About Texas Russell Rescue</h5>
							<p>
								Texas Russell Rescue is a state-wide network of volunteers dedicated to placing unwanted,
                                displaced or abandoned Jack Russell Terriers into permanent homes.
                                All dogs entering rescue are either temporarily placed in a foster home or must remain
                                with their owners until a suitable home can be found.
							</p>
						</div>
					</div>
                    <div class="col-lg-4 col-md-6">
						<div class="single-footer-widget text-white">
							<h5>Funded by Donations</h5>
							<p>
                                Our organization is funded entirely by donations. These donations are used for temporary
                                housing, spaying/neutering, veterinarian treatments, food, water, etc.							</p>
						</div>
					</div>
                    <div class="col-lg-4 col-md-6">
						<div class="single-footer-widget text-white">
							<h5>What Rescue Does</h5>
                            <p>
                                <ul class="footer-list">
                                    <li>Protects the Jack Russell Terrier by educating pet owners and breeders</li>
                                    <li>Places Jack Russell Terriers in suitable homes</li>
                                    <li>Provides for the temporary health and well being of Jack Russell Terriers</li>
                                </ul>
                            </p>
						</div>
					</div>


				</div>
			</div>
	</footer>

	<footer class="footer-distributed">

		<div class="footer-right">

			<a class="footer-link-right" href="https://www.facebook.com/TexasRussellRescueInc/" target="_blank"><i class="fa fa-facebook"></i></a>
			<a class="footer-link-right" href="https://twitter.com/russellrescuetx" target="_blank"><i class="fa fa-twitter"></i></a>
			<a class="footer-link-right" href="https://www.instagram.com/texasrussellrescue/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>

		</div>

		<div class="footer-left">

			<p class="footer-links">
				Visit our national page at <a class="footer-link" href="https://russellrescue.com"
							target="_blank">RussellRescue.com</a>&nbsp
			</p>
			<p class="">
				{% if current_user.is_authenticated %}
					<a href="{{ url_for('logout') }}" style="text-decoration : none; color : #8f9296;">
						&copy;
					</a>
				{% else %}
					<a href="{{ url_for('login') }}" style="text-decoration : none; color : #8f9296;">
						&copy;
					</a>
				{% endif %}
				<script>document.write(new Date().getFullYear());</script> | Russell Rescue, Inc. | 501(c)(3) Organization
			</p>
		</div>

	</footer>
	<!-- End footer Area -->

	<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="../static/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="../static/js/easing.min.js"></script>
	<script src="../static/js/hoverIntent.js"></script>
	<script src="../static/js/superfish.min.js"></script>
	<script src="../static/js/jquery.ajaxchimp.min.js"></script>
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/jquery.nice-select.min.js"></script>
	<script src="../static/js/mail-script.js"></script>
	<script src="../static/js/main.js"></script>
</body>

</html>