{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <section class="banner-area relative banner-general banner-owner-listing-app">
        <div class="container">
            <div class="overlay overlay-bg"></div>
            <div class="row fullscreen d-flex justify-content-start" style="0px">
                <div class="banner-content col-lg-8 col-md-12">
                     <!--<a><img class="banner-logo" src="../static/img/LOGO2.png" alt="" title="" /></a>-->
                    <p class="text-white sub-head banner-lg-font">
                        Surrender Application
                    </p>
                    <!--<a href="#" class="primary-btn header-btn text-uppercase no-decoration">Find a pet to adopt</a>-->
                </div>
            </div>
        </div>
    </section>


  <div class="container content-section mt-30">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">Owner Listing Application</legend>
            <div class="row">
                <div class="form-group col-md-3">
                    {{ form.first_name.label(class="form-control-label") }}
                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-md is-invalid", placeholder="Jane") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-md", placeholder="Jane") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-5">
                  {{ form.last_name.label(class="form-control-label") }}
                  {% if form.last_name.errors %}
                      {{ form.last_name(class="form-control form-control-md is-invalid", placeholder="Doe") }}
                      <div class="invalid-feedback">
                          {% for error in form.last_name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.last_name(class="form-control form-control-md", placeholder="Doe") }}
                  {% endif %}
              </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-md is-invalid", placeholder="name@domain.com") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-md", placeholder="name@domain.com") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-3">
                    {{ form.phone.label(class="form-control-label") }}
                    {% if form.phone.errors %}
                        {{ form.phone(class="form-control form-control-md is-invalid", placeholder="555-555-5555") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(class="form-control form-control-md", placeholder="555-555-5555") }}
                    {% endif %}
                </div>  
            </div> 
            <div class="row">
              <div class="form-group col-md-8">
                  {{ form.address.label(class="form-control-label") }}
                  {% if form.address.errors %}
                      {{ form.address(class="form-control form-control-md is-invalid", placeholder="123 Main St.") }}
                      <div class="invalid-feedback">
                          {% for error in form.address.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.address(class="form-control form-control-md", placeholder="123 Main St.") }}
                  {% endif %}
              </div>  
            </div>      
            <div class="row">
                <div class="form-group col-md-5">
                    {{ form.city.label(class="form-control-label") }}
                    {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-md is-invalid", placeholder="Dallas") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="form-control form-control-md", placeholder="Dallas") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-2">
                    {{ form.state.label(class="form-control-label") }}
                    {% if form.state.errors %}
                    {{ form.state(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.state.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.state(class="form-control form-control-md") }}
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    {{ form.dog_origin.label(class="form-control-label") }}
                    {% if form.dog_origin.errors %}
                        {{ form.dog_origin(class="form-control form-control-lg is-invalid", rows="2") }}
                        <div class="invalid-feedback">
                            {% for error in form.dog_origin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dog_origin(class="form-control form-control-lg", rows="2") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <div class="form-check">
                  {{ form.spayed_or_neutered(class="form-check-input") }}
                  {{ form.spayed_or_neutered.label(class="form-check-label") }}
                </div>
              </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                  <div class="form-check">
                    {{ form.vaccines_current(class="form-check-input") }}
                    {{ form.vaccines_current.label(class="form-check-label") }}
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                  <div class="form-check">
                    {{ form.heartworm_meds_current(class="form-check-input") }}
                    {{ form.heartworm_meds_current.label(class="form-check-label") }}
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    {{ form.why_rehoming.label(class="form-control-label") }}
                    {% if form.why_rehoming.errors %}
                        {{ form.why_rehoming(class="form-control form-control-lg is-invalid", rows="3") }}
                        <div class="invalid-feedback">
                            {% for error in form.why_rehoming.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.why_rehoming(class="form-control form-control-lg", rows="3") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <div class="form-check">
                  {{ form.dog_friendly(class="form-check-input") }}
                  {{ form.dog_friendly.label(class="form-check-label") }}
                </div>
              </div>
          </div>
          <div class="row">
            <div class="form-group col-md-8">
              <div class="form-check">
                {{ form.cat_friendly(class="form-check-input") }}
                {{ form.cat_friendly.label(class="form-check-label") }}
              </div>
            </div>
          </div>
          <div class="row">
              <div class="form-group col-md-8">
                  {{ form.people_friendly.label(class="form-control-label") }}
                  {% if form.people_friendly.errors %}
                      {{ form.people_friendly(class="form-control form-control-lg is-invalid", rows="3") }}
                      <div class="invalid-feedback">
                          {% for error in form.people_friendly.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.people_friendly(class="form-control form-control-lg", rows="3") }}
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-8">
                  {{ form.training.label(class="form-control-label") }}
                  {% if form.training.errors %}
                      {{ form.training(class="form-control form-control-lg is-invalid", rows="2") }}
                      <div class="invalid-feedback">
                          {% for error in form.training.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.training(class="form-control form-control-lg", rows="2") }}
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-8">
                  {{ form.leash_behavior.label(class="form-control-label") }}
                  {% if form.leash_behavior.errors %}
                      {{ form.leash_behavior(class="form-control form-control-lg is-invalid", rows="2") }}
                      <div class="invalid-feedback">
                          {% for error in form.leash_behavior.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.leash_behavior(class="form-control form-control-lg", rows="2") }}
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-8">
                  {{ form.car_behavior.label(class="form-control-label") }}
                  {% if form.car_behavior.errors %}
                      {{ form.car_behavior(class="form-control form-control-md is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.car_behavior.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.car_behavior(class="form-control form-control-md") }}
                  {% endif %}
              </div>  
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    {{ form.general_health.label(class="form-control-label") }}
                    {% if form.general_health.errors %}
                        {{ form.general_health(class="form-control form-control-lg is-invalid", rows="2") }}
                        <div class="invalid-feedback">
                            {% for error in form.general_health.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.general_health(class="form-control form-control-lg", rows="2") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    {{ form.potty_trained.label(class="form-control-label") }}
                    {% if form.potty_trained.errors %}
                        {{ form.potty_trained(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.potty_trained.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.potty_trained(class="form-control form-control-md") }}
                    {% endif %}
                </div>  
            </div>  
            <div class="row">
                <div class="form-group col-md-8">
                    {{ form.home_alone_behavior.label(class="form-control-label") }}
                    {% if form.home_alone_behavior.errors %}
                        {{ form.home_alone_behavior(class="form-control form-control-lg is-invalid", rows="3") }}
                        <div class="invalid-feedback">
                            {% for error in form.home_alone_behavior.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.home_alone_behavior(class="form-control form-control-lg", rows="3") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    {{ form.can_remain_home_until_adopted.label(class="form-control-label") }}
                    {% if form.can_remain_home_until_adopted.errors %}
                        {{ form.can_remain_home_until_adopted(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.can_remain_home_until_adopted.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.can_remain_home_until_adopted(class="form-control form-control-md") }}
                    {% endif %}
                </div>  
            </div> 
            <div class="row">
                <div class="form-group col-md-8">
                    {{ form.other_info.label(class="form-control-label") }}
                    {% if form.other_info.errors %}
                        {{ form.other_info(class="form-control form-control-lg is-invalid", rows="3") }}
                        <div class="invalid-feedback">
                            {% for error in form.other_info.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.other_info(class="form-control form-control-lg", rows="3") }}
                    {% endif %}
                </div>
            </div>
            {{ form.submit(class="btn btn-outline-info custom-submit-btn") }}
        </div>
      </form>
      <p></p>
{% endblock %}
