{% extends "layout.html" %}
{% block title %}Happy Tails{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important { color: #336699; }


</style>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


<link rel="stylesheet" href="../static/css/pets.css">
<div class="container container-style">
    <!--<h2 class="title-text">Available Dogs</h2>-->
    <div class="disclaimer-div border rounded">Regarding dogs marked as "Owner Listing":
        Texas Russell Rescue is not responsible and/or liable for the outcome of any adoption made through this listing as we are only providing information.
        Texas Russell Rescue is also not responsible and is held harmless for the accuracy and reliability of the information provided within this listing.
        Owners and adopters bear the full responsibility and liability for any dog listed.
    </div>
    <div class="row justify-content-around">
        {% for pet in pets|batch(3) %}
        {% for column in pet %}


        <!--<div class="dog-card-outer">-->
        <!--<a href="https://www.adoptapet.com/pet/{{ column.pet_id }}" target="_blank">-->
            <div class="col-xs-4 justify-content-center border rounded dog-card">
                <div class="row">
                    <div class="col">
                        <div style="text-align:center">
                            <a href="https://www.adoptapet.com/pet/{{ column.pet_id }}" target="_blank">
                                <!--{{ column.pet_name }}--><img class="dog-img" src="{{ column.large_results_photo_url }}"></a>
                        </div>
                    </div>
                    <div class="col dog-text">
                        <div class="dog-text-inner">
                            <a class="dog-name-text" href="https://www.adoptapet.com/pet/{{ column.pet_id }}"
                               target="_blank">{{ column.pet_name }}</a>

                            <div class="text-style">
                                {% if column.sex == 'f' %}
                                    <p class="text-style text-style-sex">Female</p>
                                {% elif column.sex == 'm' %}
                                    <p class="text-style text-style-sex">Male</p>
                                {% endif %}

                                <p class="capitalize">{{ column.age }}</p>

                                {% if column.ownerSurrender %}
                                <!-- Owner Listing flag image needed -->
                                <p class="owner-listing-text">Owner Listing</p>
                                <!--<button type="button" class="btn owner-listing-text" data-toggle="modal"
                                        data-target="#owner-listing-modal">Owner Listing
                                </button>-->
                                {% endif %}
                            </div>

                            <!-- Owner Listing Modal -->
                            <!--<div class="modal fade" id="owner-listing-modal" tabindex="-1" role="dialog"-->
                                 <!--aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
                                <!--<div class="modal-dialog modal-dialog-centered" role="document">-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<h5 class="modal-title">Owner Listing</h5>-->
                                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                                <!--<span aria-hidden="true">&times;</span>-->
                                            <!--</button>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body lower-case">-->
                                            <!--RRI is not responsible and/or liable for the outcome of any adoption made through this listing as we are only providing information. RRI is also not responsible and is held harmless for the accuracy and reliability of the information provided within this listing. Owners and adopters bear the full responsibility and liability for any dog listed.-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="modal-footer">-->
                                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close-->
                                            <!--</button>-->
                                            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                                        <!--</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        <!--</a>-->
        <!--</div>-->
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}