{% extends "layout.html" %}
{% set current_page = "surrender" %}
{% block title %}Index{% endblock %}
{% block head %}
  <!--{{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>-->
{% endblock %}

{% block content %}

    <section class="banner-area relative banner-general banner-surrender" id="home">
        <div class="container">
            <div class="overlay overlay-bg"></div>
            <div class="row d-flex justify-content-start">
                <div class="banner-content col-lg-8 col-md-12">
                     <!--<a><img class="banner-logo" src="../static/img/LOGO2.png" alt="" title="" /></a>-->
                    <p class="text-white sub-head banner-lg-font">
                        Surrender Program
                    </p>
                    <!--<a href="#" class="primary-btn header-btn text-uppercase no-decoration">Find a pet to adopt</a>-->
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-30">
        <div class="surrender-content">
            Sometimes life’s circumstances are such that seeking a new home for your Jack Russell is necessary.
            Owner-surrendered Jack Russells being considered for our rescue should be current on their vaccinations
            and spayed or neutered.  You will be required to provide information about your terrier, photos of your
            dog, and current veterinary records on our Surrender Form. <br><br>

            We do not take aggressive Jack Russells into our program. Due to liability issues, if your dog has
            bitten a human of any age or is extremely aggressive with other animals, we are unable to assist you.
            There are no exceptions to this policy.  You may also want to contact your veterinarian to rule out
            any medical problems that could account for your dog’s behavior. <br><br>

            If you purchased your Jack Russell from a breeder, we recommend that you contact them. Breeders
            should be responsible for dogs sold for their lifetime. Responsible breeders should make every effort
            to assist you in finding a suitable home for your dog. This includes taking the dog back, if necessary,
            regardless of the age of the dog. If this is not an option with your dog’s breeder, contact us for help. <br><br>

            Please be aware that we are a breed specific rescue for Jack Russell Terriers. We do not always take
            mixes into our program. If you are seeking a home for a Jack Russell Terrier mix, also contact an all
            breed rescue in your local area in case we are unable to assist you. <br><br>

            If you would like to contact us about surrendering your Jack Russell Terrier into our rescue program,
            please fill out our Surrender Form. <br><br>

            Shelter and Rescue Group Surrenders:<br>
            We can assist Animal Shelters and Rescue groups in a variety of ways. Please fill out our Contact Form
            for further information. Please be aware that we are a breed specific rescue for Jack Russell Terriers.
            If you are unsure as to whether or not the dog is a Jack Russell, please contact us for assistance. <br><br>

            Lost/Found Jack Russell Terriers:<br>
            If you found a Jack Russell Terrier, you will need to comply with all county and state laws. It is a good
            idea to notify us of the Jack Russell that you have found, in case we are aware of a terrier that has been
            lost. If you have lost your Jack Russell, be sure to contact us. We are frequently contacted about found
            dogs and may have information that can help. <br><br>



             <div class="text-center mt-40 mb-40">
                <a href="{{ url_for('surrender_form') }}" class="primary-btn text-uppercase" target="_blank">Surrender Program Form</a>
            </div>
        </div>


    </div>

{% endblock %}