{% extends "layout.html" %}
{% set current_page = "volunteer_form" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<!-- Banner area -->
    <section class="banner-area relative banner-volunteer">
        <div class="overlay overlay-bg"></div>
        <div class="row" style="margin-left: 0px; margin-right: 0px">
            <div class="banner-content banner-content-margins banner-volunteer-content col-lg-12 col-sm-12 justify-content-center">
                <p class="text-white banner-lg-font">Volunteer Today</p>
            </div>
        </div>
    </section>

{% endblock %}
