{% extends "layout.html" %}
{% set current_page = "volunteer" %}
{% block title %}Volunteer{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

     <!-- Banner area -->
    <section class="banner-area relative banner-volunteer">
        <div class="overlay overlay-bg"></div>
        <div class="row" style="margin-left: 0px; margin-right: 0px">
            <div class="banner-content banner-content-margins banner-volunteer-content col-lg-12 col-sm-12 justify-content-center">
                <p class="text-white banner-lg-font">Volunteer Today</p>
            </div>
        </div>
    </section>

    <!-- Volunteer content-->
    <div class="container mt-30">
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-lg-push-9">
                <div class="container mt-50">
                    <div class="volunteer-content blue-text" style="font-size: 30px">Volunteers are needed in Texas for everything!
                        <ul class="fa-ul" style="list-style-position: inside">
                            <li><span class="fa-li footer-bullet red-text"><i class="fa fa-paw"></i></span>Transporting dogs</li>
                            <li><span class="fa-li footer-bullet red-text"><i class="fa fa-paw"></i></span>Managing social media outlets</li>
                            <li><span class="fa-li footer-bullet red-text"><i class="fa fa-paw"></i></span>Posting our adoptable terriers on various websites</li>
                            <li><span class="fa-li footer-bullet red-text"><i class="fa fa-paw"></i></span>Conducting home visits for potential adopters</li>
                        </ul>
                        ...and so much more!<br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-lg-pull-3 d-md-none d-none d-lg-inline">
                <img class="volunteer-logo" src="../static/img/LOGO2.png" alt="Texas Russell Rescue Logo" title="Texas Russell Rescue Logo"/>
            </div>
        </div>
    </div>


    <div class="text-center" style=" background-color: #f9f9ff;">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 quotation mt-5-i no-padding d-lg-inline d-none">
                <i class="fas fa-quote-left fa-7x"></i>
            </div>
            <div class="col-lg-6">
                <div class="container volunteer-content blue-text" style="font-weight: 500; font-size: 30px">
                    However, our greatest need is for foster homes.<br>We can only save as many Jack Russells as we have foster
                    homes for.
                </div>
            </div>
            <div class="col-lg-1 quotation mt-120 no-padding d-lg-inline d-none">
                <i class="fas fa-quote-right fa-7x"></i>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="container text-center">
        <div class="volunteer-content blue-text">
            Foster homes are the very backbone of our organization. We do not have a shelter or facility, so when we
            take a Jack Russell into our rescue, we depend on the fosters. Foster provide a temporary home for our
            Jack Russells until they are adopted. Texas Russell Rescue provides all the necessary veterinary care,
            medications, food, supplies, etc. for our rescue Jacks. But the foster moms and dads are the ones that
            provide the love, encouragement, snuggles, belly rubs and a safe place for these little dogs.
            In return, the dogs provide plenty of licks and tail wags! <br><br>

            If you are willing to open your home to a Jack Russell in need, until a forever home can be found,
            consider becoming a foster for us. Apply today! Have questions? Contact us and we can try and provide
            some answers. There are many ways to support us through volunteering.<br><br>

             <div class="text-center mt-40 mb-40">
                <a href="{{ url_for('volunteer_form') }}" class="primary-btn text-uppercase" target="_blank">Volunteer Application</a>
            </div>
        </div>
    </div>

{% endblock content %}