{% extends "layout.html" %}
{% set current_page = "volunteer" %}
{% block title %}Volunteer{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <section class="banner-area relative banner-general banner-volunteer">
        <div class="container">
            <div class="overlay overlay-bg"></div>
            <div class="row fullscreen d-flex justify-content-start" style="0px">
                <div class="banner-content col-lg-8 col-md-12">
                     <!--<a><img class="banner-logo" src="../static/img/LOGO2.png" alt="" title="" /></a>-->
                    <p class="text-white sub-head banner-lg-font">
                        Volunteer
                    </p>
                    <!--<a href="#" class="primary-btn header-btn text-uppercase no-decoration">Find a pet to adopt</a>-->
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-30">
        <div class="volunteer-content blue-text">
            Volunteers are needed in Texas for everything from transporting dogs, to managing social media outlets,
            posting our adoptable terriers on various websites, conducting home visits for potential adopters, etc.
            <b>However, our greatest need is for foster homes.</b> We can only save as many Jack Russells as we have foster
            homes for. <br><br>

            Foster homes are the very backbone of our organization. We do not have a shelter or facility, so when we
            take a Jack Russell into our rescue, we depend on the fosters. Foster provide a temporary home for our
            Jack Russells until they are adopted. Texas Russell Rescue provides all the necessary veterinary care,
            medications, food, supplies, etc. for our rescue Jacks. But the foster moms and dads are the ones that
            provide the love, encouragement, snuggles, belly rubs and a safe place for these little dogs.
            In return, the dogs provide plenty of licks and tail wags! <br><br>

            If you are willing to open your home to a Jack Russell in need, until a forever home can be found,
            consider becoming a foster for us. Apply today! Have questions? Contact us and we can try and provide
            some answers. There are many ways to support us through volunteering.<br><br>

             <div class="text-center mt-40 mb-40">
                <a href="{{ url_for('volunteer_form') }}" class="primary-btn text-uppercase" target="_blank">Volunteer Application</a>
            </div>
        </div>
    </div>
{% endblock content %}