{% extends "layout.html" %}
{% set current_page = "webmaster" %}
{% block title %}Webmaster Dashboard{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <div class="card-container-webmaster mt-100">
        <div class="container">
            <div class="row">
                <a href="#" class="dashboard-link">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="card-dashboard text-center">
                            <i class="far fa-newspaper fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Create an Event<br>Blog Post</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>Create a new blog post about Texas Russell Rescue events or news.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="card-dashboard text-center">
                            <i class="fas fa-dog fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Create a Spotlight Terrier Blog Post</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>Create a new blog post for a Spotlight Terrier (updates the homepage post, too).</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="card-dashboard text-center">
                            <i class="fas fa-smile-beam fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Create a Happy Tails Blog Post</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>Create a new blog post for a Happy Tails story.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="card-dashboard text-center">
                            <i class="fas fa-envelope-open-text fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Manage Administrators</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>View, add, edit, or delete Texas Russell Rescue admin accounts.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="card-container-webmaster mb-30">
        <div class="container">
            <div class="row">
                <a href="#" class="dashboard-link">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="card-dashboard text-center">
                            <i class="fas fa-paw fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Adoption Applications</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>View applications from potential Jack Russell adopters.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="card-dashboard text-center">
                            <i class="fas fa-hands-helping fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Volunteer Applications</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>View applications from potential fosters and volunteers.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="card-dashboard text-center">
                            <i class="fas fa-clipboard-list fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Surrender Applications</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>View applications from owners, shelters, or rescues surrendering Jack Russells.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
                <a href="#" class="dashboard-link">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="card-dashboard text-center">
                            <i class="fas fa-envelope-open-text fa-3x dashboard-icon mt-10 mb-10" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Contact<br>Submissions</h4>
                            </div>
                            <div class="dashboard-text">
                                <span>View messages from people with questions, comments, or concerns.</span>
                            </div>
                            <a href="#" class="dashboard-a"></a>
                         </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}